<nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Revenir à l'accueil</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <!-- Contenu de la barre de navigation -->
      </div>
    </div>
</nav>

<div class="text-bg-dark p-5 rounded-lg m-3">
  <h1 class="display-4">Profil</h1>
  <p class="lead">Bienvenue sur votre profil.</p>
  <hr class="my-4">
  <img src="assets/img2.jpg" style="width:300px" alt=""> 

  
  <li class="list-group-item list-group-item-darck d-flex justify-content-between align-items-center">
    <p>Nom :  Pierrot</p>
   <a href="Modifier vos Information"></a>
    <span class="badge bg-primary rounded-pill"></span>
  </li>
  <li class="list-group-item list-group-item-darck d-flex justify-content-between align-items-center">
    <p>Prenom :  Jean</p>
    <a href="Modifier vos Information"></a>
    <span class="badge bg-primary rounded-pill"></span>
  </li>
  <li class="list-group-item list-group-item-darck d-flex justify-content-between align-items-center">
    <p> Jean@gmail.com</p>
    <a href="Modifier vos Information"></a>
    <span class="badge bg-primary rounded-pill"></span>
  </li>
  <li class="list-group-item list-group-item-darck d-flex justify-content-between align-items-center">
   <p> Mot de passe : ***********</p>
    <a href="Modifier vos Information"></a>
    <button type="button" class="btn btn-success">Modifier vos Informations</button>
    <span class="badge bg-primary rounded-pill"></span>
  </li>
</div>

<ul class="list-group">

  <li class="list-group-item list-group-item-primary d-flex justify-content-between align-items-center">
    Mes Commandes :
    <span class="badge bg-primary rounded-pill"></span>
    <button type="button" class="btn btn-primary">Consulter</button>
    <button type="button" class="btn btn-primary">Annuler</button>
    
  </li>
  <li class="list-group-item list-group-item-primary d-flex justify-content-between align-items-center">
    Remboursements
    <button type="button" class="btn btn-primary">Consulter</button>
    <button type="button" class="btn btn-primary">Annuler</button>
    <span class="badge bg-primary rounded-pill"></span>
  </li>
  <li class="list-group-item list-group-item-primary d-flex justify-content-between align-items-center">
    Mes Demandes :
    <span class="badge bg-primary rounded-pill"></span>
    <button type="button" class="btn btn-primary">Consulter</button>
    <button type="button" class="btn btn-primary">Annuler</button>
  </li>
  <li class="list-group-item list-group-item-primary d-flex justify-content-between align-items-center">
    Mes Messages :
    <span class="badge bg-primary rounded-pill"></span>
    <button type="button" class="btn btn-primary">Consulter</button>
    <button type="button" class="btn btn-primary">Annuler</button>
    
  </li>
</ul>

 
